form {
    width: 60%;
    margin: 50px auto;
    background-color: aliceblue;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
  
    border: 1px solid black;
    border-radius: 8px;
  }
  
  form h2 {
    margin: 20px auto;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
  }
  
  form input {
    width: 90%;
    border-radius: 8px;
  }

